export(superpc.cv,
superpc.decorrelate,
superpc.fit.to.outcome,
superpc.listfeatures,
superpc.lrtest.curv,
superpc.plotcv,
superpc.plot.lrtest,
superpc.plotred.lrtest,
superpc.train,
superpc.predict,
superpc.predict.red,
superpc.predict.red.cv,
superpc.predictionplot,
superpc.rainbowplot,
superpc.xl.decorrelate,
superpc.xl.decorrelate.test,
superpc.xl.listgenes.compute,
superpc.xl.fit.to.clin,
superpc.xl.get.threshold.range,
superpc.xl.rainbowplot)

