export(partDSA, DSA.control, loglevel, trim, trim.dsa, trim.partDSA,
       predict.dsa, print.dsa, print.partDSA, dumpDSA,
       showDSA, showDSA.dsa, showDSA.character)
import(survival)
S3method(trim, dsa)
S3method(trim, partDSA)
S3method(predict, dsa)
S3method(predict, LeafyDSA)
S3method(print, dsa)
S3method(print, partDSA)
S3method(print, LeafyDSA)
S3method(print, LeafyPredictions)
S3method(showDSA, dsa)
S3method(showDSA, character)
importFrom(parallel,makePSOCKcluster)
importFrom(parallel,clusterCall)
importFrom(parallel,clusterApplyLB)
importFrom(parallel,stopCluster)
importFrom(parallel,mclapply)
