useDynLib(pamr)
import(survival, cluster)
export(pamr.adaptthresh, 
        pamr.batchadjust, 
        pamr.confusion, 
        pamr.cv, 
        pamr.fdr,
        pamr.from.excel, 
        pamr.decorrelate,
        pamr.geneplot, 
        pamr.knnimpute, 
        pamr.knnimpute.old, 
        pamr.listgenes,
        pamr.makeclasses, 
        pamr.menu, 
        pamr.cube.root, 
        pamr.indeterminate,
        pamr.pairscore,
        pamr.plotcen, 
        pamr.plotcvprob,
        pamr.plotcv, 
        pamr.plotfdr, 
        pamr.predictmany, 
        pamr.predict, 
        pamr.score.to.class1,
        pamr.score.to.class2, 
        pamr.surv.to.class2, 
        pamr.confusion.survival,
        pamr.plotsurvival, 
        pamr.plotstrata,
        pamr.pvalue.survival, 
        pamr.to.excel, 
        pamr.train,
        print.pamrtrained,
        print.pamrcved,
        pamr.test.errors.surv.compute,
        pamr.xl.compute.offset, 
        pamr.xl.error.trace, 
        pamr.xl.get.offset, 
        pamr.xl.derive.adjusted.prior,
        pamr.xl.get.default.training.parameters, 
        pamr.xl.get.uniform.prior,
        pamr.xl.get.sample.prior, 
        pamr.xl.get.class.names,
        pamr.xl.get.class.labels,
        pamr.xl.get.number.of.classes,
        pamr.xl.process.data, 
        pamr.xl.compute.cv.confusion,
        pamr.xl.compute.confusion, 
        pamr.xl.is.a.subset, 
        pamr.xl.listgenes.compute,
        pamr.xl.plot.test.probs.compute, 
        pamr.xl.plot.training.error.compute,
        pamr.xl.plotcen.compute, 
        pamr.xl.plotcv.compute, 
        pamr.xl.plotcvprob.compute,
        pamr.xl.predict.test.class, 
        pamr.xl.predict.test.class.only, 
        pamr.xl.predict.test.probs,
        pamr.xl.test.data.impute, 
        pamr.xl.test.errors.surv.compute,
        pamr.xl.test.errors.compute, 
        pamr.xl.transform.class.labels,
        pamr.xl.transform.data, 
        pamr.xl.transform.test.data,
        pamr.xl.plotsurvival,
        pamr.xl.plotsurvival.test,
        pamr.xl.predict.test.surv.class,
        pamr.xl.plotsurvival.strata,
        pamr.xl.test.get.soft.classes,
        pamr.xl.get.threshold.range,
        pamr.xl.get.soft.class.labels)
