export(plotmo)

export("get.plotmo.nresponse")
export("get.plotmo.pairs")
export("get.plotmo.singles")
export("get.plotmo.type")
export("get.plotmo.type.wrapper")
export("get.plotmo.x")
export("get.plotmo.x.wrapper")
export("get.plotmo.y")
export("get.plotmo.y.wrapper")
export("get.plotmo.y.default")
export("get.and.check.subset")
export("check.index")
